[submodule "components/ssd1306"]
	path = components/ssd1306
	url = https://github.com/nopnop2002/esp-idf-ssd1306

[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib
